@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg1.png') no-repeat;
}

input {
    width: 300px;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid #0f0;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    color: rgb(230, 235, 230);
    font-size: 20px;
}

input::placeholder {
    color: #0f0;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #0f0;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    color: rgb(230, 235, 230);
    font-size: 13px;
    outline: none;
  }

  :root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgb(146, 224, 132);
    --select-bg: rgba(255, 255, 255, 0.2);
  }
  /* <select> styles */
  select {
    /* Reset */
    appearance: none;
    border: 2px solid #0f0;;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(12, 12, 12);
    border-radius: 0.25em;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: black;
    }
  }
  